/* Your CSS styles here */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.box {
    width: 500px;
    height: 180px;
    background-color: lightgray;
    margin: 0 auto;
    line-height: 200px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.highlight {
    background-color: lightcoral; /* Color when the class is added */
}


#myButton{
    font-size: 2.5rem;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 15px;
}




.enabled{
    background-color: aqua;
    color:white;
    font-size: 2.5rem;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 15px;

}

.disabled{
    background-color: red;
    color:white; 
    font-size: 2.5rem;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 15px; 
}

.hover{
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2) ;
    font-weight: bold;
}